
        <div class="card">
            <div class="img-wrapper">
            <img src="assets/Image/hom_default.png" class="propImage">
            <ul class="list-inline member-icon animate">
                <li class="list-inline-item text-center ">
                    <button class="btn btn-primary">
                      <i class="far fa-edit"></i>
                    </button>
                </li>
                <li class="list-inline-item text-center">
                    <button class="btn btn-primary">
                        <i class="far fa-address-book"></i>
                    </button>
                </li>
            </ul>
        </div>
       
            <div class="card-body p-1 h_50">
                  <h1>{{property.Name}}</h1>
                    <div class="d-flex justify-content-around">
                        <h3> {{property.Type}}</h3>
                        <h3>{{property.Price | currency:'Rs'}}</h3>
                    </div>
               
            </div>
        </div>

   





