.propImage{
    height: 200px;
    width: 300px;
}

.card img {
    transition: transform 500ms ease-out;
}

.card img:hover {
    transform: scale(1.1);
    opacity: .05;
}

.img-wrapper{
    overflow: hidden;
    position: relative;
}

.member-icon{
 position: absolute;
 bottom: -10%;
  left: 0;
 right: 0; 
 margin-left: 100px;
 opacity: 0;

}
.img-wrapper:hover .member-icon {
    bottom: 0; /* Move to the bottom on hover */
    opacity: 1;
}

.animate{
    transition: all .35s ease-in-out;
}
